#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

    --palette-color-main: #001d3d;
    --palette-color-highlight: #003566;
    --palette-color-dark: #000814;
    --palette-color-secondary: #ffd60a;
    --palette-color-tertiary: #ffc300;
    --palette-color-grey: grey;
    --palette-text-primary: white;
}